@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(211, 211, 211);
}

#cabe {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#dark {
    width: 60px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: darkgray;
}

#container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#container3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#btn {
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: normal;
    font-size: 1.2em;
    background-color: green;
    color: white;
    width: 200px;
    height: 50px;
}

#btn:hover {
    background-color: darkgreen;
}

p#a {
    font-weight: bold;
}